varnish:
  ## Override lookup of map.jinja
  #lookup:
  #  pkg: varnish
  #  service: varnish
  #  config_file: '/etc/default/varnish'
  #  vcl_file: '/etc/varnish/default.vcl'

  ## Specify the version here, this is being used for the repository
  # version: 4.0

  ## Override the config templates to use.
  ## The pillar content will be available for processing
  #config_files:
  #  config: 'salt://varnish/templates/config.jinja'
  #  vcl: 'salt://varnish/templates/default.vcl.jinja'
